@model About
@{

}
<h2>@Model.Title</h2>
<div class="alert alert-primary">@Model.Description</div>

<p>Tags:</p>
    <ul>@foreach (string tag in Model.Tags)
    {
        <li>@tag</li>
    }
</ul>

<div class="container text-center">
    <div class="row">
        <div class="col-sm-1 border">
            Number
        </div>
        <div class="col-sm-3 border">
            Name
        </div>
        <div class="col-sm-8 border">
            Description
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1 border">
            1
        </div>
        <div class="col-sm-3 border">
            Product1
        </div>
        <div class="col-sm-8 border">
            Description
        </div>
    </div>
</div>
