@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail final your site's privacy policy.</p>


@{
    var currentYear = DateTime.Now.Year;
}
<p>@currentYear</p>